@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Revalia&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    background-color: rgba(238, 239, 241, 1);
    font-family: Roboto;
}

header{
    margin: 0 auto;
}

.container{
    max-width: 1105px;
    margin: 0 auto;
}

.index-header-content{
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.index-navbar__link{
    padding-left: 42px;
    color: black;
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 164.063%; /* 26.25px */
    letter-spacing: 1.6px;
}

.selected{
    color: rgba(52, 84, 122, 1);
}


.index-main_content{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.index-main_content__img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-main_content__text{
    max-width: 600px;
}

.index-title{
    font-size: 48px;
    font-weight: 500;
    line-height: 164.063%; /* 78.75px */
}

.index_main__text{
    margin-top: 60px;
    color: #727272;
    font-size: 16px;
    line-height: 164.063%; /* 26.25px */
}

.index-button{
    margin-top: 60px;
    padding: 25px 44px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    line-height: 164.063%; /* 26.25px */
    letter-spacing: 1.6px;
    background: #34547A;
    border: none;
}


@media screen and (max-width: 992px) {
	.index-main_content{
        align-items: center; 
        padding-top: 130px; 
        display: flex; 
        flex-direction: column; 
        justify-content: center;
    }

    .index-main_content__text{
        padding-top: 20px; 
        max-width: 540px; 
        text-align: center; 
        padding-left: 0;
    }

    .index-button{
        margin-top: 20px; 
        min-width: 200px; 
        min-height: 55px;

    }
}

@media screen and (max-width: 768px) {
	.index-header-content{
        padding-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 300px;
    }
    .navbar{
        justify-content: center;
        flex-direction: column;
    }
       
}

@media screen and (max-width: 576px) {
	.index_main__text{
        margin-top: 60px;
        min-width: 200px;
        font-size: 16px;
        line-height: 26px;
    }   
}
